{% extends '@app/src/views/_layouts/cp.twig' %}

{% block actionButton %}
    <a href="{{ url(['entry-type/create']) }}">{{ t('app', 'Create') }}</a>
{% endblock %}

{% block content %}
    {% for model in app.record.entryType().all() %}
        <a href="{{ url(['entry-type/update']|merge({id: model.id})) }}">{{ model.id }} - {{ model.name }}</a>
    {% endfor %}
{% endblock %}