{% extends '@app/src/views/_layouts/cp.twig' %}

{% block actionButton %}
    <a href="{{ url(['collection-field/create']) }}">{{ t('app', 'Create') }}</a>
{% endblock %}

{% block content %}
    <div>
        {% for model in app.record.collectionField().all() %}
            <div>
                <a href="{{ url(['collection-field/update']|merge({id: model.id})) }}">
                {{ model.id }} - {{ model.handle }}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}